.type1{
  width: 480px;
  height: 75px;
  background-color: gray;
}

.type1 p{
    line-height: 400%;
}

.type5{
  clear: both;
  width: 480px;
  height: 80px;
  background-color: antiquewhite;  
}

.type5 p{
  line-height: 500%;
}

/* with reference from: https://www.w3schools.com/css/css_rwd_mediaqueries.asp */
@media only screen and (min-width: 768px){
  .type1{
    grid-column: 1/6;
    grid-row: 1/2;
    width:960px;
    height: 100px;
    background-color: burlywood;
  }

  .type2{
    grid-column: 1/2;
    grid-row: 2/5;
  }

  #c{
    grid-column: 2/4;
    grid-row: 2/3;
  }

  #type3Box2{
    grid-column: 4/6;
    grid-row: 2/3;
  }

  #e{
    grid-column: 2/3;
    grid-row: 3/4;
  }

  #type4Box2{
    grid-column: 3/4;
    grid-row: 3/4;
  }

  #type4Box3{
    grid-column: 4/5;
    grid-row: 3/4;
  }

  #type4Box4{
    grid-column: 5/6;
    grid-row: 3/4;
  }


  .type1 p{
    line-height: 600%;
  }
  
  .type5{
    grid-column: 2/6;
    grid-row: 4/5;
    width: 760px;
    height: 150px;
    /* float: left; */
    margin: 0 auto;
    background-color: blue;
  }

  .type5 p{
    line-height: 800%;
  }
}

